.datetime-overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.datetime-wrapper {
  position: relative;
}

.datetime-hidden {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
}
